
.App{
  font-size: 0.85rem;
}
.errorCard{
  cursor: pointer;
  overflow-wrap:break-word;
}

.small{
  color: gray;
}
.main-content{
  height: 100vh;
  overflow-y: scroll;

}

.formatted{
  white-space: pre;
}